@charset "utf-8";
/* CSS Document */

.headportrait {
	margin-right: 7px;
	margin-top: 6px;
}
.btnModule {
	position: absolute;
	height: 51px;
	margin-top: -54px;
	margin-left: 163px;
	padding: 10px;
	padding-top: 0;
}
.btnModule>img {
	cursor: pointer;
	opacity: 0.7;
}
.btnModule>img:hover {
	opacity: 1;
}
.btnModule>img:active {
	opacity: 0.4;
}
