@charset "utf-8";
/* CSS Document */

#contactsArea {
	display: table;
	width: 100%;
}
.cell3-left, .cell2-left, .cell1 {
	display: table-cell;
}
.cell3-middle {
	display: table-cell;
	text-align: center;
}
.cell3-right, .cell2-right {
	display: table-cell;
	text-align: right;
}

.cellContent {
	display: inline-table;
	text-align: left;
	
	width: 236px;
	min-height: 352px;
}
.contactdiv {
	margin-bottom: 12px;
	
}

#pagechange {
	margin-top: 20px;
}
#pagechange a {
	color: #d9d9d9;
	cursor: pointer;
	font-size: 16px;
}
#pagechange a:hover {
	color: #97ded0;
}
#pagechange a:active {
	color: #168f78;
}
#prebtn {
	margin-right: 5px;
}
#nextbtn {
	margin-left: 15px;
}
#pagebtn {
	display: inline-block;
}
#pagebtn>a {
	display: inline-block;
	width: 13px;
	height: 13px;
	background-color: #d9d9d9;
	border-radius: 20px;
	margin-left: 10px;
}
#pagebtn>a:hover {
	background-color: #97ded0;
}
#pagebtn>a:active {
	background-color: #168f78;
}
#pagebtn>a.active {
	background-color: #48c9b0;
}
.headportrait {
	margin-right: 7px;
	margin-top: 6px;
}
.nickname {
	font-size: 16px;
	font-weight: bold;
	color: #737373;
	margin-bottom: 0;
	position: relative;
	top: 1px;
	cursor: pointer;
}
.nickname:hover {
	color: #48c9b0;
}
.nickname:active {
	color: #1fa48a;
}
.profile {
	font-size: 14px;
	color: #939393;
	position: relative;
	top: -4px;
	margin-bottom: 0;
}
.btnModule {
	position: absolute;
	height: 51px;
	margin-top: -54px;
	margin-left: 163px;
	padding: 10px;
	padding-top: 0;
}
.btnModule>img {
	cursor: pointer;
	opacity: 0.7;
}
.btnModule>img:hover {
	opacity: 1;
}
.btnModule>img:active {
	opacity: 0.4;
}
