@charset "utf-8";
/* CSS Document */

#contentArea {
	min-height: 507px;
}
#detailTitle {
	margin-bottom: 28px;
}
#detailName {
	font-size: 22px;
	color: #737373;
	letter-spacing: 1px;
}
#detailLinkArea {
	margin-bottom: 50px;
}
#detailLinkArea button {
	padding: 6px 11px;
}
#detailInfo {
	font-size: 15px;
}
#detailInfo>.row {
	margin-bottom: 20px;
}
#detailInfo a:hover {
	text-decoration: underline;
}

