@charset "utf-8";
/* CSS Document */

#contactsArea {
	display: table;
	width: 100%;
}
.cell3-left, .cell2-left, .cell1 {
	display: table-cell;
}
.cell3-middle {
	display: table-cell;
	text-align: center;
}
.cell3-right, .cell2-right {
	display: table-cell;
	text-align: right;
}
.cellContent {
	display: inline-table;
	text-align: left;
	width: 246px;
	min-height: 352px;
}
.listItem {
	margin-bottom: 12px;
}
#pagechange {
	margin-top: 20px;
}
#pagechange a {
	color: #d9d9d9;
	cursor: pointer;
	font-size: 16px;
}
#pagechange a:hover {
	color: #97ded0;
}
#pagechange a:active {
	color: #168f78;
}
#prebtn {
	margin-right: 5px;
}
#nextbtn {
	margin-left: 15px;
}
#pagebtn {
	display: inline-block;
}
#pagebtn>a {
	display: inline-block;
	width: 13px;
	height: 13px;
	background-color: #d9d9d9;
	border-radius: 20px;
	margin-left: 10px;
}
#pagebtn>a:hover {
	background-color: #97ded0;
}
#pagebtn>a:active {
	background-color: #168f78;
}
#pagebtn>a.active {
	background-color: #48c9b0;
}
.itemTitle {
	font-size: 16px;
	font-weight: bold;
	color: #737373;
	margin-bottom: 0;
	position: relative;
	top: 1px;
	cursor: pointer;
}
.itemTitle:hover {
	color: #48c9b0;
}
.itemTitle:active {
	color: #1fa48a;
}
.profile {
	font-size: 14px;
	color: #939393;
	position: relative;
	top: -4px;
	margin-bottom: 0;
}
#addnewItem {
	margin-top: 45px;
	width: 223px;
}
.inputnameframe, .btn-newItem {
	border-radius: 4px;
	height: 27px;
	font-size: 13px;
}
.inputnameframe {
	border: #CCC 1px solid;
	font-family: inherit;
	width: 150px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	display: inline-block;
	margin-right: -6px;
}
.btn-newItem {
	background-color: #48c9b0;
	color: #FFF;
	padding: 1px 17px;
	margin-top: 0px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	position: relative;
	top: -1px;
}
.btn-newItem:hover {
	background-color: #9cddd0;
}
.btn-newItem:active {
	background-color: #1db396;
}
.creatTab {
	position: relative;
	margin-left: 8px;
	top: -2px;
}