@charset "utf-8";
/* CSS Document */

#banner {
	margin-bottom: 26px;
	background-image: url(../../pic/userbanner.jpg);
	height: 170px;
}

.column-title {
	font-size: 28px;
	color: #FFF;
	letter-spacing: 5px;
}

#docSearch {
	margin-top: 14px;
	margin-bottom: 25px;
}
.searchFrame {
	border-color: #48c9b0;
	font-family: inherit;
	height: 39px;
}
.btn-whiteframe {
	background-color: #48c9b0;
	color: #FFF;
	border-radius: 5px;
	height: 39px;
	padding: 8px 32px;
	margin-top: 0px;
}
.btn-whiteframe:hover {
	background-color: #9cddd0;
}
.btn-whiteframe:active {
	background-color: #1db396;
}

.docTitle {
	font-size: 19px;
	margin-bottom: 5px;
}
.docTitle a {
	color: #000;
}
.docTitle a:hover {
	color: #b3f1e5;
}
.docTitle a:active {
	color: #0bac8d;
}
.docInfo {
	font-size: 14px;
	color: #FFF;
	margin-bottom: 0;
}
.docDetail {
	padding: 4px 16px 18px;
	margin-top: 0px;
}
.docDetail p {
	font-size: 14px;
	margin-bottom: 0;
}
.innertitle {
	font-weight: 900;
	margin-top: 6px;
	color: #737373;
}
.docDetail a {
	display: inline-block;
	margin-right: 8px;
}
.docDetail a:hover {
	text-decoration: underline;
}
.detailBtn {
	padding: 5px 14px;
	margin-top: 12px;
	margin-bottom: 10px;
	height: auto;
	font-size: 14px;
}

.row-fluid {
	display: table;
}
.moreIcon {
	width: 60px;
	height: 60px;
	border: #a4e4d8 solid 3px;
	border-radius: 60px;
	text-align: center;
	transition: none;
}
.outcontainer1 {
	display: table-cell;
	float: none;
}
.outcontainer2 {
	min-height: 100%;
	height: 100%;
	vertical-align: middle;
	display: table-cell;
	float: none;
}
.moreIcon span {
	color: #a4e4d8;
	font-size: 30px;
	line-height: 55px;
}
.moreIcon:hover {
	border-color: #e1faf5;
}
.moreIcon:hover span {
	color: #e1faf5;
}
.moreIcon:active {
	border-color: #34bea3;
}
.moreIcon:active span{
	color: #34bea3;
}

.grey {
	color: #333;
}

#newGroup {
	margin-bottom: 30px;
}
.groupBtn {
	height: 39px;
	padding: 10px 22px;
}

.groupTitle a {
	color: #30a58e;
}

.doclink {
	font-size: 14px;
	position: relative;
	top: -7px;
}
.doclink:hover {
	text-decoration: underline;
}

.groupDetailBtn {
	margin-top: -10px;
	border: none;
	background-color: #1abc9c;
}
.iconSmall {
	font-size: 80%;
}

.groupDetail {
	left: 105%;
	bottom: 30%;
	top: auto;
}

.inverseIcon:hover {
	border-color: #34bea3;
}
.inverseIcon:hover span {
	color: #34bea3;
}
.inverseIcon:active {
	border-color: #e1faf5;
}
.inverseIcon:active span {
	color: #e1faf5;
}

.myPPT {
	background-color: #48c99a;
	padding: 13px 25px 24px;
	min-width: 260px;
	margin-top: 11px;
}
#mypptTitle {
	font-size: 26px;
	color: #FFF;
	letter-spacing: 4px;
}
#smallBtn {
	width: 35px;
	height: 35px;
	letter-spacing: -18px;
	margin-top: 5px;
}
#smallBtn span {
	font-size: 16px;
	line-height: 30px;
}
.shadowBorder {
	width: 100%;
	height: 0;
	border-top: #32a97e solid 1px;
	border-bottom: #b2e4d2 solid 1px;
	margin: 4px auto;
}
#picture {
	margin-top: 17px;
}
#picture img {
	width: 80%;
	vertical-align: top;
	border: #FFF solid 1px;
}
#pptTitle {
	font-size: 16px;
	color: #FFF;
	width: 17px;
	display: inline-block;
	line-height: 22px;
	vertical-align: bottom;
	margin-left: 7%;
}
#picture>a:hover>img {
	border-color: #21a78d;
}

.myDoc {
	margin-bottom: 50px;
}

.bannerText {
	display: table-cell;
	vertical-align: middle;
	height: 170px;
}

.userID {
	color: #FFF;
	font-size: 40px;
	margin-bottom: 0;
}

.salutatory {
	color: #FFF;
}

.messageContainer {
	position: relative;
	width: 100%;
	max-width: 600px;
}

#newMessage {
	position: absolute;
	margin-top: 10px;
	padding: 4px 20px;
	background-color: #FFF;
	border: #bbb dashed 1px;
	border-radius: 8px;
	font-size: 15px;
	width: 100%;
	z-index: 100;
}
.newMessage {
	transition: all 0.5s;
	
}
.suonaIcon {
	font-size: 18px;
	margin-top: 4px;
}
.mailIcon {
	font-size: 17px;
}
.newMessageTitle {
	position: relative;
	top: -2px;
}
.messageContent {
	margin-top: 2px;
}
.messageContent a {
	cursor: pointer;
}
.messageContent>a:hover {
	text-decoration: underline;
}
.arrowhead {
	margin-right: -5px;
	transition: all 0.2s;
}
#develop {
	color: #666;
	cursor: pointer;
}
#develop:hover {
	color: #16a085;
}

.msgDevelop div.arrowhead {
	transform: rotate(90deg);
}
.msgDevelop #msgContent {
	text-align: left;
	margin: 30px 60px 6px;
}

#bottomBtn{
	margin: 10px 60px 5px;
	border-top: #DDD dashed 1px;
}
.smallBtn {
	font-size: 14px;
}
#viewAll {
	display: block;
	margin: 10px 60px 22px;
	background-color: #b9efe4;
	border-radius: 4px;
	text-align: center;
	color: #FFF;
}
#viewAll:hover {
	background-color: #7ed7c6;
}
#viewAll:active {
	background-color: #30b49a;
}

.standard-grey {
	color: #737373;
}