@charset "utf-8";
/* CSS Document */

#contentArea {
	min-height: 503px;
}
#userviewtitle {
	margin-bottom: 28px;
}
#username {
	font-size: 22px;
	color: #737373;
	letter-spacing: 1px;
}
#userLinkArea {
	margin-bottom: 50px;
}
#userLinkArea button {
	padding: 6px 11px;
}
#userinfo {
	font-size: 15px;
}
#userinfo>.row {
	margin-bottom: 20px;
}
#userinfo a:hover {
	text-decoration: underline;
}

